@model List<Casgem_CodeFirstProject.DAL.Entities.Booking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<h2>Tur Alım Mesaj Sayfası</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Açıklama</th>
        <th>Başlık</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookingID</td>
            <td>@item.CustomerName</td>
            <td>@item.Destination</td>
            <td>@item.Duration</td>
            <td>@item.Mail</td>
            <td>@item.BookingDate</td>

            <td><a href="/Admin_Booking/DeleteBooking/@item.BookingID" class="btn btn-danger">Sil</a></td>
            ,
        </tr>
    }








</table>

