@{
    Layout = null;
}

<!doctype html>
<html lang="en">
@Html.Action("PartialHead")
<body id="home">
    @Html.Action("PartialNavbar")

    @Html.Action("PartialSliderScript")

    @Html.Action("PartialSlider")

    @Html.Action("PartialBooking")

    @Html.Action("PartialFeature")

    @Html.Action("PartialDestinations")

    @Html.Action("PartialAbout")

    @Html.Action("PartialBookingCover")

    @Html.Action("Contact", "About")

    @Html.Action("PartialMainScript")
</body>
</html>
